*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;

}

:root{

    --text-color: #fff;
    --background-color: #000;
    --main-color: #ffa343;

    --h1-font: 4rem;
    --h2-font: 2rem;
    --p-font: 1rem;

}

body{

    color: var(--text-color);
    background-color: var(--background-color);

}

header{

    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 27px 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;

}

.logo{

    font-size: 33px;
    color: var(--text-color);
    font-weight: 700;

}

span{

    color: var(--main-color);

}

.navbar{

    display: flex;

}

.navbar a{

    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    margin: 15px 22px;
    transition: all .50s ease;

}

.navbar a:hover{

    color: var(--main-color);

}

.h-right{

    display: flex;
    align-items: center;

}

.h-right a:first-child{

    color: var(--text-color);
    font-size: var(--p-font);
    margin-right: 20px;

}

.h-right a{

    vertical-align: middle;
    font-size: 16px;
    color: var(--text-color);
    margin-right: 18px;
    margin-left: 5px;
    transition: all .50s ease;

}

.h-right a:hover{

    color: var(--main-color);
    transform: translateY(-3px);

}

#menu-icon{

    color: var(--main-color);
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
    display: none;

}

section{

    padding: 70px 17% 60px;

}

.home{

    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9)), url(../img/kota.jpg);
    background-color: black;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.home-text h5{

    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: var(--main-color);

}

.home-text h1{

    font-size: var(--h1-font);
    font-weight: 800;
    line-height: 0.9;
    margin-bottom: 20px;

}

.home-text p{

    font-size: var(--p-font);
    font-weight: 200;
    line-height: 20px;
    color: white;
    margin-bottom: 25px;

}

.btn{

    display: inline-block;
    padding: 13px 40px;
    background-color: black;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    box-shadow: 0 0 20px var(--main-color), 0 0 40px var(--main-color);
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
    transition: all .50s ease;
    cursor: pointer;

}

.btn:hover{

    background-color: var(--main-color);
    padding: 13px 40px;
    box-shadow: none;

}

.btn:active{

    border: 3px solid white;
    background-color: transparent;

}

header.sticky{

    padding: 25px 17%;
    background-color: transparent;
    backdrop-filter: blur(10px);

}

.feature-content{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    text-align: center;
    gap: 2rem;

}

.feature-content h4{

    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all .50s ease;

}

.feature-content h4:hover{

    color: var(--main-color);
    transform: translateY(-3px);

}

.row-img{

    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
    cursor: pointer;

}

.row-img img{

    width: 100%;
    display: block;
    transition: transform 0.90s;

}

.row-img img:hover{

    transform: scale(1.5);

}

.holiday{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;

}

.holiday-img img{

    width: 100%;
    height: auto;
    border-radius: 20px;

}

.holiday-text h5{

    font-size: 22px;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-bottom: 20px;

}

.holiday-text h2{

    font-size: var(--h2-font);
    font-weight: 800;
    line-height: 1.5;
    margin-bottom: 25px;

}

.holiday-text p{

    font-size: var(--p-font);
    font-weight: 300;
    line-height: 30px;
    color: var(--text-color);
    margin-bottom: 35px;

}

.center-text{

    text-align: center;

}

.center-text h2{

    font-size: var(--h2-font);
    font-weight: 800;

}

.tour-content{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;

}

.box{

    width: 300px;
    height: 350px;
    position: relative;

}

.box img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(70%) grayscale(100);
    transition: all .3s cubic-bezier(.499,.05,.55,.95);
    will-change: filter;
    display: block;

}

.box img:hover{

    filter: brightness(90%) hue-rotate(20deg);
    transform: scale(1.05);
    cursor: pointer;

}

.box h6{

    position: absolute;
    left: 15px;
    bottom: 25px;
    font-size: 14px;
    font-weight: 300;

}

.box h4{

    position: absolute;
    left: 15px;
    bottom: 45px;
    font-size: 18px;
    font-weight: 500;

}

.center-btn{

    text-align: center;
    margin-top: 4rem;

}

.culture{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;

}

.culture-img img{

    width: 100%;
    height: auto;
    border-radius: 20px;
    filter: brightness(120%);

}

.culture-text h5{

    font-size: 22px;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-bottom: 20px;

}

.culture-text h2{

    font-size: var(--h2-font);
    font-weight: 800;
    line-height: 1.5;
    margin-bottom: 25px;

}

.culture-text p{

    font-size: var(--p-font);
    font-weight: 300;
    line-height: 30px;
    color: var(--text-color);
    margin-bottom: 35px;

}

.newsletter-content{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;

}

.newsletter-text h2{

    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 15px;

}

.newsletter-text p{

    font-size: var(--p-font);
    font-weight: 300;
    color: var(--text-color);

}

.newsletter-content form{

    display: grid;
    grid-template-columns: 1fr 0.4fr;
    gap: 1rem;

}

.newsletter-content form input:first-child{

    padding: 15px;
    background-color: #202020;
    font-size: var(--p-font);
    color: var(--text-color);
    border-radius: 10px;

}

#btn{

    box-shadow: none !important;

}

.footer{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;

}

.footer-box{

    display: flex;
    flex-direction: column;

}

.footer-box h3{

    font-size: 22px;
    font-weight: 800;
    margin-bottom: 16px;

}

.footer-box a{

    color: #979797;
    margin-bottom: 5px;
    transition: all 0.80s ease;

}

.footer-box a:hover{

    transform: translateX(-5px);
    color: blue;

}

.social a{

    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background-color: #202020;
    color: var(--text-color);
    font-size: 22px;
    border-radius: 10px;
    margin-right: 8px;
    transition: all 0.2s ease;

}

.social a:hover{

    background-color: var(--main-color);
    color: var(--background-color);
    transform: none !important;

}

.copyright p{

    text-align: center;
    padding: 20px;
    color: #979797;
    font-size: 15px ;

}

@media (max-width: 1700px){

    header{

        padding: 18px 8%;

    }

    header.sticky{

        padding: 7px 8%;

    }

    section{

        padding: 50px 8% 40px;

    }

}

@media (max-width: 1200px){

    header{

        padding: 14px 5%;

    }

    header.sticky{

        padding: 7px 5%;

    }

    section{

        padding: 45px 8% 35px;

    }

    :root{

        --h1-font: 2.5rem;
        --h2-font: 1.5rem;
        --p-font: 0.8rem;  

    }

    .home{

        height: 90vh;

    }

}

@media (max-width: 1050px){

    .feature-content{

        gap: 1.5rem;

    }

    .holiday{

        gap: 3rem;

    }

    .culture{

        gap: 3rem;

    }

    #menu-icon{

        display: block;

    }

    .navbar{

        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 60px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--background-color);
        transition: all .50s ease;

    }

    .navbar a{

        display: flex;
        color: #979797;
        padding: 0;
        margin: 0px 0px 40px 0px;
        font-size: 2.2rem;
        font-weight: 400;

    }

    .navbar.open{

        left: 0;

    }

}

@media (max-width: 800px){

    .holiday{

        grid-template-columns: 1fr;

    }

    .culture{

        grid-template-columns: 1fr;

    }

    .newsletter-content{

        grid-template-columns: 1fr;

    }

}

@media (max-width: 600px){

    :root{

        --h1-font: 3.5rem;
        --h2-font: 2.8rem;

    }

    .home{

        height: 85vh;

    }

}

@media (max-width: 600px){

    header{

        padding: 12px 3%;

    }

    header.sticky{

        padding: 7px 3%;

    }

    section{

        padding: 60px 3% 35px;

    }

}